<!DOCTYPE html>
<html>
	<head>
		<title>PROSESIM | Cadastro</title>
		<script src="js/jquery-2.2.1.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link href="css/style.css" rel="stylesheet">
		<script src="js/input_mask.js"></script>
	</head>
	<body class="body">			
		<div class="menu">
			<div class="container-fluid">
				<div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/" ><span class="glyphicon glyphicon-user"></span> Sair</a></li>
					</ul>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>	
		<br/>

		<div class="container">
			<div class="row">				
					<% if (validacao.length > 0) { %>
						<div class="col-sm-12">
							<div class="alert alert-danger">
								<strong>Atenção!</strong>
								<ul>
									<% for(var i = 0; i < validacao.length; i++) { %>									
										<li><%= validacao[i].msg %></li>
									<% } %>
								</ul>
							</div>
						</div>
					<% } %>
				</div>
		</div>

		<div class="container">
			<form class="form" action="/cadastro" method="post">
				<h4 class="text-left text-info">Identificação do canditado</h4>	
				<div class="col-sm-12">
					<p class="help-block" style="text-align: right"><h11>*</h11> Campo obrigatório </p>
				</div>		
				<div class="col-sm-12">
					<label class="text-info">Nome <h11>*</h11></label>
					<input type="text" name="nome" id="nome" value="<%=dadosForm.nome%>" class="form-control" maxlength="100">
				</div>
				<div class="col-sm-12">
					<label class="text-info">Email <h11>*</h11></label>
					<input type="email" name="email" id="email" value="<%=dadosForm.email%>" class="form-control" maxlength="120">
				</div>						
				<div class="col-sm-4">
					<label class="text-info">Nascimento <h11>*</h11></label>
					<input type="date" name="nascimento" id="nascimento" value="<%=dadosForm.nascimento%>" class="form-control">
				</div>
				<div class="col-sm-4">
					<label class="text-info">CPF <h11>*</h11></label>
					<input type="text" name="cpf" id="cpf" value="<%=dadosForm.cpf%>" class="form-control" onkeydown="javascript: fMasc(this, mCPF);" maxlength="14">
				</div>
				<div class="col-sm-4">
					<label class="text-info">Identidade</label>
					<input type="text" name="identidade" id="identidade" value="<%=dadosForm.identidade%>" class="form-control" maxlength="24">
				</div>	
				<div class="col-sm-10">
					<label class="text-info">Endereço <h11>*</h11></label>
					<input type="text" name="logradouro" id="logradouro" value="<%=dadosForm.logradouro%>" class="form-control" maxlength="200">
				</div>
				<div class="col-sm-2">
					<label class="text-info">Número</label>
					<input type="text" name="numero" id="numero" value="<%=dadosForm.numero%>" class="form-control" maxlength="10">
				</div>
				<div class="col-sm-6">
					<label class="text-info">Bairro <h11>*</h11></label>
					<input type="text" name="bairro" id="bairro" value="<%=dadosForm.bairro%>" class="form-control" maxlength="50" style="text-transform: capitalize">
				</div>
				<div class="col-sm-4">
					<label class="text-info">Município <h11>*</h11></label>
					<input type="text" name="municipio" id="municipio" value="<%=dadosForm.municipio%>" class="form-control" maxlength="50" style="text-transform: capitalize">
				</div>
				<div class="col-sm-2">
					<label class="text-info">Estado <h11>*</h11></label>
					<input type="text" name="estado" id="estado" value="<%=dadosForm.estado%>" class="form-control" maxlength="2" style="text-transform:uppercase">
				</div>
				<div class="col-sm-6">
					<label class="text-info">Telefone 1 <h11>*</h11></label>
					<input type="text" name="telefone1" id="telefone1" value="<%=dadosForm.telefone1%>" class="form-control" onkeydown="javascript: fMasc(this, mTel);" maxlength="14">
				</div>
				<div class="col-sm-6">
					<label class="text-info">Telefone 2</label>
					<input type="text" name="telefone2" id="telefone2" value="<%=dadosForm.telefone2%>" class="form-control" onkeydown="javascript: fMasc(this, mTel);" maxlength="14">
				</div>
				<div class="col-sm-4">
					<label class="text-info">Possui deficiência?</label>
					<select name="deficiente" id="deficiente" value="<%=dadosForm.deficiente%>" class="form-control">
						<option>NÃO</option>
						<option>SIM</option>
					</select>
				</div>
				<div class="col-sm-8">
					<label class="text-info">Tipo da deficiência</label>
					<input type="text" name="deficiencia" id="deficiencia" value="<%=dadosForm.deficiencia%>" class="form-control" maxlength="100">
				</div>
				<div class="col-sm-4">
					<label class="text-info">Senha <h11>*</h11></label>
					<input type="password" name="senha" id="senha" value="<%=dadosForm.senha%>" class="form-control" maxlength="20">
				</div>	
				<input type="hidden" name="protocolo" id="protocolo" class="form-control" value="ajustarprotocolo">
				
				<div class="col-sm-12">
					<br/>
					<input type="submit" class="btn btn-info btn-md" value="Salvar">
				</div>
			</form>				
		</div>
		<br/>	
		<br/>
		</body>
</html>