<!DOCTYPE html>
<html>
	<head>
		<title>PROSESIM | Candidato</title>
		<script src="js/jquery-2.2.1.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="menu">
			<div class="container-fluid">
				<div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/" ><span class="glyphicon glyphicon-user"></span> Sair</a></li>
					</ul>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<br/>

		<div class="col-md-12">
			<h3>DADOS DO CANDIDATO</h3>
			<% if(candidato.length > 0) { %>
				<div class="row"> 
					<div class="col-md-3"> <label class="text-info">Nome</label></div>
					<div class="col-md-9"><label class="text"><%=candidato[0].nome%></label></div>
				</div>
				<div class="row">
					<div class="col-md-3"><label class="text-info">Email</label></div>
					<div class="col-md-9"><label class="text"><%=candidato[0].email%></label></div>
				</div>
				<div class="row">	
					<div class="col-md-3"><label class="text-info">Nascimento</label></div>
					<div class="col-md-9"><label class="text"><%=candidato[0].nascimento%></label></div>
				</div>
				<div class="row">	
					<div class="col-md-3"><label class="text-info">CPF</label></div>
					<div class="col-md-9"><label class="text"><%=candidato[0].cpf%></label></div>
				</div>
				<div class="row">
					<div class="col-md-3"><label class="text-info">Identidade</label></div>
					<div class="col-md-9"><label class="text"><%=candidato[0].identidade%></label></div>	
				</div>				
				<div class="row">
					<div class="col-md-3"><label class="text-info">Endereço</label></div>
					<div class="col-md-9"><label class="text">
						<%=candidato[0].logradouro%>
						<%=candidato[0].numero%> - 
						<%=candidato[0].bairro%> - 
						<%=candidato[0].municipio%>/
						<%=candidato[0].estado%>
					</label></div>
				</div>
				<div class="row">
					<div class="col-md-3"><label class="text-info">Telefone 1</label></div>
					<div class="col-md-9"><label class="text"><%=candidato[0].telefone1%></label></div>
				</div>	
				<% if (candidato[0].telefone2 != '') { %>
					<div class="row">
						<div class="col-md-3"><label class="text-info">Telefone 2</label></div>
						<div class="col-md-9"><label class="text"><%=candidato[0].telefone2%></label></div>	
					</div>
				<% } %>	
				<div class="row">
					<div class="col-md-3"><label class="text-info">Possui Deficiência?</label></div>
					<div class="col-md-9"><label class="text"><%=candidato[0].deficiente%></label></div>
				</div>
				<% if (candidato[0].deficiente == 'SIM') { %>
					<div class="row">
						<div class="col-md-3"><label class="text-info">Tipo deficiência</label></div>
						<div class="col-md-9"><label class="text"><%=candidato[0].deficiencia%></label></div>
					</div>
				<% } %>
			<% } %>
		</div>

		<% if (candidato[0].codigoformacao != null) { %>
			<div class="col-md-12">
				<h3>FORMAÇÃO/OUTROS CURSOS</h3>
				<div class="row">
					<div class="col-md-3"> <label class="text-info">Formação</label></div>
					<div class="col-md-9"><label class="text"><%=candidato[0].codigoformacao%></label></div>
				</div>
				<div class="row">
					<div class="col-md-3"> <label class="text-info">Outros cursos</label></div>
				</div>
			</div>
			<div class="col-md-12">
				<h3>ÁREA PLEITEADA</h3>
				<div class="row">
					<div class="col-md-3"> <label class="text-info">Opção 1</label></div>
				</div>
				<div class="row">
					<div class="col-md-3"> <label class="text-info">Opção 2</label></div>
				</div>
			</div>

		<% } else { %>	
			<form class="form" action="/inscricao" method="get">
				<div class="col-sm-12">
					<br/>
					<input type="submit" class="btn btn-info btn-md" value="Realizar inscrição">
				</div>
			</form>	
		<% } %>

	</body>
</html>