<!DOCTYPE html>
<html>
	<head>
		<title>Inscrição | Processo Seletivo</title>
		<link rel="shortcut icon" href="/images/School.ico" type="image/x-icon">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
		<link href="css/style.css" rel="stylesheet">		
		<script src="js/jquery-2.2.1.js"></script>
		<script src="js/input_mask.js"></script>
	</head>
	<body class="body">	
			<body onLoad="history.go(+1)">	
		<div class="menu">
			<div class="container-fluid">
				<div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/" ><span class="glyphicon glyphicon-user"></span> Sair</a></li>
					</ul>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
		<!-- VALIDAÇÃO -->
		<div class="container">
			<div class="row">				
				<% if (validacao.length > 0) { %>
					<div class="col-sm-12">
						<div class="alert alert-danger">
							<strong>Atenção!</strong>
							<ul>
								<% for(var i = 0; i < validacao.length; i++) { %>									
									<li><%= validacao[i].msg %></li>
								<% } %>
							</ul>
						</div>
					</div>
				<% } %>
			</div>
		</div>

		<div class="container">
			<form class="form" action="/salvar_inscricao" method="post">
				<input type="hidden" name="codigocandidato" value="<%=dadosForm.codigocandidato%>" class="form-control">
				<input type="hidden" name="codigoinscricao" value="<%=dadosForm.codigoinscricao%>" class="form-control">
				<input type="hidden" name="opcao" value="<%=dadosForm.opcao%>" class="form-control">
				<!-- ÁREA PLEITEADA -->
				<script>
					function ExibirRequisitos() {
						var y = document.getElementById("instrucao")[document.getElementById("codigoarea").value].text;
						document.getElementById("demo").innerHTML = y;										
					}
				</script>	
				<div class="col-sm-12">
					<h4 class="text-left text-info">Área Pleiteada</h4>	
					<% if(areas.length > 0) { %>
						<div class="form-group">								
							<label class="col-sm-12" for="codigoarea">
								<select class="form-control" name="codigoarea" id="codigoarea" onchange="ExibirRequisitos()">
									<% for (var i = 0; i < areas.length; i++) { %>	
										<option value="<%=areas[i].codigoarea%>"><%=areas[i].descricao%></option>																			
									<% } %>		
								</select>
								<select id="instrucao" style="display: none;">
									<% for (var i = 0; i < areas.length; i++) { %>	
										<option value="<%=areas[i].codigoarea%>"><%=areas[i].instrucao%></option>																			
									<% } %>		
								</select>
							</label>							
							 <div class="col-sm-12">								
								<div class="alert alert-warning">
									<strong id="pr">Pré-requisitos:</strong><br>
									<p id="demo"></p> 									
								</div>									
							</div>
							<div class="col-sm-12">
								<input type="checkbox" name="aceite" id="aceite" value="Sim" required> Estou ciente dos pré-requisitos para área selecionada que estão descritos no item 3 do edital.<br>									
							</div>
						</div>
					<% } %>					
				</div>					
				<!-- FORMAÇÃO ACADEMICA -->				
				<div class="col-sm-12">
					<h4 class="text-left text-info">Formação acadêmica</h4>
					<% if(formacoes.length > 0) { %>
						<div class="form-group">								
							<label  class="col-sm-12" for="codigoformacao">
								<select class="form-control" name="codigoformacao" id="codigoformacao" >
									<% for (var i = 0; i < formacoes.length; i++) { %>	
										<option value="<%=formacoes[i].codigoformacao%>"><%=formacoes[i].descricao%></option>
									<% } %>		
								</select>
							</label>								
						</div>
					<% } %>
				</div>
				<!-- CURSO OPÇÃO 1 -->
				<div class="col-sm-12">
					<h4 class="text-left text-info">Cursos de Formação na Área/Função Pleiteada (OPÇÃO 1)</h4>	
					<% if(cursos.length > 0) { %>
						<div class="form-group">								
							<label  class="col-sm-12" for="codigocurso1">
								<select class="form-control" name="codigocurso1" id="codigocurso1" >
									<% for (var i = 0; i < cursos.length; i++) { %>	
										<option value="<%=cursos[i].codigocurso%>"><%=cursos[i].descricao%></option>
									<% } %>		
								</select>
							</label>								
						</div>
					<% } %>
				</div>
				<!-- CURSO OPÇÃO 2 -->
				<div class="col-sm-12">
					<h4 class="text-left text-info">Cursos de Formação na Área/Função Pleiteada (OPÇÃO 2)</h4>	
					<% if(cursos.length > 0) { %>
						<div class="form-group">								
							<label  class="col-sm-12" for="codigocurso2">								
								<select class="form-control" name="codigocurso2" id="codigocurso2">
									<% for (var i = 0; i < cursos.length; i++) { %>	
										<option value="<%=cursos[i].codigocurso%>"><%=cursos[i].descricao%></option>
									<% } %>	
								</select>								
							</label>								
						</div>
					<% } %>
				</div>
				<!-- SALVAR -->
				<div class="col-sm-6">
					<br/>
					<input type="submit" class="btn btn-primary btn-md" value="Salvar">
				</div>
			</form>		
		</div>
	</body>
</html>